

.RequestMentor2{
    /* display: flex; */
    background-color: blanchedalmond;
}

.Left-Request{
    /* flex: 1; */
    background-color: rgb(64, 224, 208);
}

.Right-Request{
    /* flex: 2; */
    background-color: rgb(255, 160, 255);
}

.Left-Request-Top{
    background-color: rgb(99, 44, 99);
}

.Left-Request-Bottm{
    background-color: yellow;
}