body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
font-family: 'Inter'  ;

/* font-family: 'Bubblegum Sans', cursive;
  font-family: 'Caveat', cursive; */
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Mukta Mahee', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
 
}

 